// fix for font-awesome, which does not remove glyphicons from dropdowns
.icon-white,
.nav > .active > a > [class^="icon-"],
.nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"]
  background-image: none

// fix for btn-block, overriden by bootstrap/forms
.btn-block
  width: 100% !important


/****************************** STYLE *****************************************/

body
  .container
    .main-content
      padding-top: 60px // because navbar has fixed position!

  #footer
    height: 200px
    background-color: $grayLighter
  footer
    p
      margin-left: 20px
.alert
  p
    margin: auto
.dropdown-menu
  label
    color: $textColor
  .btn-link, .btn-link:active
    color: $linkColor
  .btn-link:hover
    color: $linkColorHover
