// override boostrap values
$bodyBackground: white
$navbarBackgroundHighlight: lighten(rgba(#034482,1), 8)
$navbarBackground: #034482
$navbarBorder: darken(rgba(#034482,1), 12)

$navbarText:                      #F5F5F5
$navbarLinkColor:                 white
$navbarLinkColorHover:            #F5F5F5
$navbarLinkColorActive:           white
$navbarLinkBackgroundHover:       rgba(0,0,0,.2)
$navbarLinkBackgroundActive:      rgba(0,0,0,.2)

$navbarBrandColor:                white

// include libraries
@import bootstrap
@import bootstrap-responsive
@import font-awesome

// fix for font-awesome, which does not remove glyphicons from dropdowns
.icon-white,
.nav > .active > a > [class^="icon-"],
.nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"]
  background-image: none

// fix for btn-block, overriden by bootstrap/forms
.btn-block
  width: 100% !important


/****************************** STYLE *****************************************/

body
  .container
    .main-content
      padding-top: 60px // because navbar has fixed position!

  #footer
    height: 200px
    background-color: $grayLighter
